<div class="all">
  <div class="container mt-5 mb-5">
      <h1>Tire suas duvidas!</h1>
      <div class="mb-5">
  
          <label for="exampleFormControlInput1" class="form-label">Endereço de Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-5">
          <label for="exampleFormControlTextarea1" class="form-label">Diga a sua duvida</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
  
        <label for="exampleFormControlTextarea1" class="form-label">Motivo do contato</label>
        <select class="form-select" aria-label="select example">
          <option selected>Selecione um item</option>
          <option value="1">Erro ao executar</option>
          <option value="2">Falha na instalção</option>
          <option value="3">Onde conseguir as roms</option>
        </select>
  
        <button type="submit" class="btn btn-secondary">Enviar</button>
  </div>
</div>