<div class="footer fundofooter">
    <div class="row">
        <div class="col-lg-5">
            
        </div>
        <div class="col-lg-6">
            <a routerLink="">Home</a>
            <a routerLink="sobre">Sobre</a>
            <a routerLink="contatos">Contato</a>
        </div>

        <div class="col-lg-1">
            <a href="https://www.youtube.com" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="https://github.com/reddingtom" target="_blank"><i class="bi bi-github"></i></a>
        </div>
    </div>
</div>