h1{
    color: white;
    margin: 30px 25px;
}

table{
    color: white;
    margin: 30px 25px;
}

th{
    margin: 20px;
    padding: 20px 20px;
}

h2{
    color: white;
    margin: 30px 25px;
}

hr{
    color: white;
}

form{
    color: white;
    margin: 30px 25px;
    margin-bottom: 141px;
}